::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 99%);
  border-radius: 100vw;
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(48, 48, 48);
  border-radius: 100vw;
}

#scroller * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}